/* styles.css */
body1{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-fondo:url('Laptos/P.jpg')
}
html, body {
    width: 100%;
    height: 100%;
}
nav {
    background-color: #333;
    overflow: hidden;
    margin-left:auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:auto;
}

nav li {
    float: left;
    margin-right:60px;
    parading-top:15px;
    align-items: center;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left:auto;
}

nav ul li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img, #gallery video {
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 200px;
}

/* Estilos para pantallas medianas (laptops) */
@media (max-width: 3000px) {
    .container {
        width: 90%;
    }

    body {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    body {
        font-size: 14px;
    }
}

/* Estilos para móviles */  
@media (max-width: 768px) { /* Cambiado de 280px a 768px para cubrir más dispositivos */  
    .container {  
        width: 100%;  
        padding: 0 5px; /* Agrega un poco de margen */  
        box-sizing: border-box; /* Asegura que el padding no sume al width */  
    }
    .navbar {  
        display:flex;
          flex-direction: column; /* Cambia a columna en móvil */  
        align-items: flex-start; /* Alinea a la izquierda */  
        padding: 0; /* Ajusta el padding */  
        height:60px;
    }
    .navbar li {  
        position:relative; 
        flex-direction: column; /* Menú en columna */  
        width: 100%; /* Ocupa todo el ancho */  
        padding:0;
        margin: 0 5px; /* Espacio reducido entre elementos */

    } 
    .navbar a{
       
        padding: 0; /*Espaciado interno*/
    }
    .navbar ul {  
        list-style: none; /* Elimina viñetas */  
        display: flex; /* Muestra los elementos en fila */  
        margin: 0; /* Sin margen */  
        padding: 0; /* Sin padding */  
    }  
    .logo {
        font-size: 1.2em; /* Tamaño ajustado para el logo */
        margin:10px; /* Esto empuja la lista hacia la derecha */
        
    }
    .logo img {
        position: relative;
        height: 30px;
        top:10px;
    }
}