body,html{
    padding:0;
    margin:0;
}
.header{
    color:white;
    position:relative;
    top: -5px;
    background-color: rgba(0, 0, 130, 2.5);
width: 100%;
margin:0;
padding:0;
text-align:center;
}
.elemento1{
    position: relative;
    display: flex;
    top:80px;
    margin:30px;
    background-color:white;
    width:200px;
    height:200px;
    border: 0.2px solid #000;
    border-radius:5%;
    text-align:center;
    justify-content: center;
    text-items:flex-end;
    flex: 1 1 30%; /* Creando una columna que ocupa 30% del ancho */  
}
.elemento2{
    position: relative;
    display: flex;
    top:50px;
    margin:60px;
    background-color:white;
    width:200px;
    height:200px;
    border: 0.2px solid #000;
    border-radius:5%;
    text-align:center;
    justify-content: center;
    text-items:flex-end;
    flex: 1 1 30%; /* Creando una columna que ocupa 30% del ancho */  
}
.elemento3{
    position: relative;
    display: flex;
    top:20px;
    margin:90px;
    background-color:white;
    width:200px;
    height:200px;
    border: 0.2px solid #000;
    border-radius:5%;
    text-align:center;
    justify-content: center;
    text-items:flex-end;
    flex: 1 1 30%; /* Creando una columna que ocupa 30% del ancho */  
}
.elemento4{
    position: relative;
    display: flex;
    top:-10px;
    margin:120px;
    background-color:white;
    width:200px;
    height:200px;
    border: 0.2px solid #000;
    border-radius:5%;
    text-align:center;
    justify-content: center;
    text-items:flex-end;
    flex: 1 1 30%; /* Creando una columna que ocupa 30% del ancho */  
}
.elemento5{
    position: relative;
    display: flex;
    top:-40px;
    margin:150px;
    background-color:white;
    width:200px;
    height:200px;
    border: 0.2px solid #000;
    border-radius:5%;
    text-align:center;
    justify-content: center;
    text-items:flex-end;
    flex: 1 1 30%; /* Creando una columna que ocupa 30% del ancho */  
}
.elemento6{
    position: relative;
    display: flex;
    top:1370px;
    margin:-1022px;
    background-color:white;
    width:200px;
    height:200px;
    border: 0.2px solid #000;
    border-radius:5%;
    text-align:center;
    justify-content: flex-start;
    text-items:flex-end;
    flex: 1 1 30%; /* Creando una columna que ocupa 30% del ancho */  
}
.enlace {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-decoration: none; /* Elimina el subrayado */
    align-items:flex-end;
}
.enlace1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-decoration: none; /* Elimina el subrayado */
    align-items:flex-end;
}
.enlace2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-decoration: none; /* Elimina el subrayado */
    align-items:flex-end;
}
.enlace3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-decoration: none; /* Elimina el subrayado */
    align-items:flex-end;
}
.enlace4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-decoration: none; /* Elimina el subrayado */
    align-items:flex-end;
}
.enlace5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-decoration: none; /* Elimina el subrayado */
    align-items:flex-end;
}
.img-1{
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -25%); /* Ajusta la posición para centrar */
}

.Contanier-elementos{
    margin-left:20px;
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo de las columnas */  
    gap: 10px; /* Espacio entre las columnas */ 
}
a{
text-decoration: none; /* Elimina el subrayado */
        }
        
        .Contanier-elementos > div {  
            border: 1px solid #000; /* Borde para diferenciar los contenedores */  
          
            text-align: center; /* Centrar el contenido */  
            transition: transform 0.3s; /* Suaviza la transición */  
        }  
        
        .Contanier-elementos > div:hover {  
            transform: scale(1.1); /* Escala el contenedor al pasar el cursor */  
        }  
        
        .img-1 {  
            max-width: 100%; /* Asegúrate de que la imagen se ajuste al contenedor */  
        }
        h1{
            margin-top:0;
            text-align: center;
            color:rgba(0, 0, 130, 2.5);
        
        }

        /* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 150px;
    width: 80%;
    height: 70%;
    overflow: auto;
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 0;
    border-radius:0;
    box-shadow: 0 0 10px #ccc;
}

.modal-content {
    top:0;
    background-color:white ;
    margin: 10% auto;
    padding: 0;
    width: 90%;
    height:150px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.H1{
    position:relative;
    width: 100%;
    background-color:rgba(0, 0, 130, 2.5);
    top:0;
    margin:0;
    box-sizing: border-box;
    padding:0;
    left: 0;
    right: 0;
}
h1 {
   color:white;
    margin: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
  }
/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
    .elemento1{
        font-size:10px;
        top:10px;
        flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */  
        margin: 0;
        width:100px;
    height:100px;
    }
    .elemento2{
        font-size:10px;
        top:-280px;
        flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */  
        margin: 5px;
        width:100px;
    height:100px;
    margin:180px;
    
    }
    .elemento3{
        font-size:10px;
        top:-440px;
        flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */  
        margin: 5px;
        width:100px;
    height:100px;
    margin:0;
    
    }
    .elemento4{
        font-size:10px;
        top:-420px;
        flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */  
        margin: 5px;
        width:100px;
    height:100px;
    margin:2px;
    
    }
    .elemento5{
        font-size:10px;
        top:-845px;
        flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */  
        margin: 5px;
        width:100px;
    height:100px;
    margin:179px;
    
    }
    .elemento6{
        font-size:10px;
        top:-1180px;
        flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */  
        margin: 5px;
        width:100px;
    height:100px;
    margin:177px;
    
    }
    .modal {
        left: 10%;
        h1{
            font-size:20px;
        }
    }
}
